html {
  --color-accent: rgb(41, 140, 165);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-family: inherit;
  font-size: 90%;
}

body {
  /* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
  */
  font: 100%/1.5 system-ui;
  max-width: 55rem;
  margin-inline: auto;
  padding: 2em;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);

  ul,
  li {
    display: contents;
  }

  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5rem;
  }

  a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
  }

  .current {
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 0.1em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;

  article {
    grid-template-rows: subgrid;
    grid-row: span 3;
  }

  h2 {
    margin: 0;
  }
}

a {
  color: var(--color-accent);
}

.resume {
  h1 {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  p {
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }

  .contact-info {
    text-align: center;
  }

  section {
    h2 {
      border-bottom: 1px solid black;
      margin-bottom: 0rem;
    }
  }

  article {
    margin-bottom: 2rem;
  }

  .article-header-row {
    display: flex;
    justify-content: space-between;
  }

  time {
    font-style: italic;
  }

  ul {
    margin: 0px;
  }
}
